.text-info{
    color: red !important;
}

.btn-info{
    background-color:red;
}

.border-info{
    border-color: red !important;
}

.fa-plus-circle{
    font-size:3rem;
    color:red;
}

.opacity-back{
    opacity: 0.7;
    filter: blur(10px);
}